$main-font: 'Rubik', sans-serif;
$white-color: #fff;
$black-color: #000; 
$main-color: #BDBDBD;
$menu-color: #F7F7F7;
$green-color:#19B5A6;
$light-green-color:#3BF0DE;
$light-grey-color:#7EA0A6;
$grey-color: #4F4F4F;